h1 {
  text-align: center;
  color: white;
  font-family: cursive; }

.text {
  font-size: 20px;
  color: white;
  font-family: sans-serif; }

#navbar {
  background-color: green; }

#navbary {
  background-color: #ff99bb; }

main {
  margin: 30px; }
