h1 {
  text-align: center;
  color: white;
  font-family: cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: green;
}

li {
  font-family: sans-serif;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}

.active {
  background-color: darkgray;
}
